<%= render 'layouts/error', book: @book %>
<div class="container">
    <div class="row">
        <div class="col-md-8 px5 mx-auto px-sm-0">
            <div class= "form-group">
                <h1>Editing Book</h1>
                <%= render 'layouts/error', book: @book %>
                <%= form_for(@book) do |f| %>
                <label>Title</label>
                <%= f.text_field :title, class:"form-control" %>
                <label>Opinion</label>
                <%= f.text_area :body, class:"form-control" %>
                <%= f.submit'Update Book',class:"btn btn-success mt-2" %>
                <% end %>
            </div>
            <%= link_to"Show",book_path(@book.id) %>
            <%= link_to"| Back",books_path %>
        </div>
    </div>
</div>