<div class="box">
<% if @book.errors %>
   <ul>
<% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
       <% end %>
        </ul>
      <% end %>

<div class="container">
    <div class="row">
    	<div class="col-md-3">
		<h2>User info</h2>
    <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
        <table class = "table">
            <tbody>
              <tr>
                <th>name</th>
                <td><%= @book.user.name %></td>
              </tr>
              <tr>
                <th>introduction</th>
                <td><%= @book.user.introduction %></td>
              </tr>
            </tbody>
        </table>
        <%= link_to "", edit_user_path(@book.user.id),  class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
<h2>New book</h2>
      <%= form_for(@book_new, url:books_path) do |f| %>
      <div class= "form-group">
          <label>Title</label>
          <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class= "form-group">
          <label>Opinion</label>
          <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class= "form-group">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
      </div>
      <% end %>


		</div>
		<div class="col-md-8 offset-md-1">
		<h2>Book detail</h2>
                <table class="table">
                    <tr>
                    <td>
                    <%= link_to user_path(@book.user_id) do %>
                    <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",size:'50x50',format: 'no_image.jpg' %>
                    <nav>
                        <%= @book.user.name %>
                    </nav>
                    <% end %>
                    </td>
                    <td><%= link_to @book.title %></td>
                    <td><%= @book.body %></td>

                    <% if @book.user_id == current_user.id %>
                    <td><%= link_to"Edit", edit_book_path(@book.id),class:"btn-sm btn-success" %></td>
                    <td><%= link_to "Destroy", book_path(@book.id), class:"btn-sm btn-danger destroy(@book.id)", method: :delete,data: {confirm: "削除しますか？"} %></td>
                    <% end %>
                    </tr>
		      	</table>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row">
		<div class="mx-auto">
		      <p>CopyRight Infratop.inc</p>
		</div>
  	</div>
</div>